/*
Colors used:
Primary Color (purple): #454ABC;
Secondary Color (orange): #F1A30C;
CTA Color (blue): #0046FB;
Emphasize Color (red): #F40606;
Font Color Headings (black): #000000;
Font Color Text (grey-black): #2C2C2C;
*/
/*General Layout
================================*/
* {
  box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #2C2C2C;
}

main {
  padding:160px 0 0 0;
  /*max-width: 854px;
  margin: auto;*/
}

header {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.2);
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

footer {
  text-align: center;
  border-top: 1px solid rgba(44, 44, 44, 0.2);
}

footer .fab {
  font-size: 2em;
  width: 50%;
}

.social {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    text-align: right;
}

ul.social > li {
    width: 46%;
    margin: 5px 2%;
}

.floatr {
  float: right;
  text-align: left;
}

.floatl {
  text-align: right;
  float: left;
}

img {
  width: 100%;
}

ul, ol {
  list-style-position: inside;
  padding: 0;
}

.center {
  text-align: center;
}

.strong {
  font-weight: 700;
}

.em {
  font-weight: 400;
  font-style: italic;
}

.purple {
  color: #454ABC;
}

.orange {
  color: #F1A30C;
}

.fontapple {
  color: #F40606;
}

nav {
  float: right;
  }

  nav > ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0;
  text-align: right;
  margin-top: 0;
}

nav > ul > li {
  width: 48%;
  margin: 5px 1%;
  float:left;
  text-align: center;
}

nav > ul > li > a {
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

nav > ul > li > a:visited {
  color: #0046FB;
}

nav > ul > li > a:hover {
  color: #F1A30C;
  text-decoration: none;
}

.logo {
  max-width: 50px;
  margin: 20px 0;
}

.mt40 {
margin: 40px 0 0 0;
}


/* Containers & columns
====================================*/

.container {
  padding: 0 20px;
}

[class*="col-s"] {
  padding: 25px 20px;
  float: left;
  margin: 0 0 0 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
     margin: auto;
     display: inline-block;
     width: 100%;
   }

   /* Typography
   ====================================*/


h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  margin: 1.5em 0 0 0;
}

h2 {
  font-size: 1.33em;
  font-weight: 500;
  margin-top: 40px;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}

/* Links & buttons
=================================================*/

a {
  color: #0046FB;
  text-decoration: none; /* No underlining */
  font-weight: 500;
}

a:visited { /* visited link */
  color: #F1A30C;
}

a:hover, a:focus {
  color: #F1A30C;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #0046FB;
}

.button {
  display: inline-block;
  background-color: #0046FB;
  color: #ffffff !important;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  transition: 0.2s opacity;
}

.button:hover {
  color: #F1A30C;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
color: #0046FB;
}

/* index
================================================*/
.raisin {
  font-family:'rum raisin', sans-serif;
  font-size: 4em;
    margin: 0.9em 0 0 0;
    animation: 30s color-change infinite linear;
}

.welcome {
  font-size: 2em;
  margin: 0.2em 0 0.67em 0;
}

.oneoffour {
  max-width: 147px;
}

.twooffour {
  max-width: 213px;
}

.threeoffour {
  max-width: 113px;
}

.fouroffour {
 max-width: 172px;
}

@keyframes color-change {
  0% {color: #000000;}
  25% {color: #454ABC;}
  50% {color: #000000;}
  75% {color: #F1A30C;}
  100% {color: #000000;}
}

.dot1 {
    animation: 1s color-change infinite linear;
  }

.dot2 {
    animation: 1s color-change infinite linear;
    animation-delay: 0.4s;
  }

.dot3 {
    animation: 1s color-change infinite linear;
    animation-delay: 0.7s;
}

/* ids
=================================*/

#legend {
  text-align: center;
margin: 5em 0;
font-weight: 500;
}

#smiley, #sweatsmiley {
max-width: 38px;
margin: 0;
}

#notabird {
  max-width: 396px;
}

#net {
max-width: 407px;
margin: 40px auto;
}

#apple {
  max-width: 274px;
}

#redapple {
  font-size: 3.5em;
  color: #F40606;
  text-align: center;
  margin: 0;
}

#sokrates::after {
  content: "";
  clear: both;
  display: table;
  }

#sokrates {
max-width: 407px;
text-align: center;
}

#typo {
  max-width: 407px;
}

#sparrow {
  max-width: 500px;
}

/* Animation on association.html
==========================*/

.oncetoomany {
   position: relative;
   padding-bottom: 49%; /* for different screen sizes*/
   /* img aspect ratio: height of original background: width of original background.
   This will add 49% of the width (responsive) to the bottom padding)*/
}

.oncetoomany img {
position: absolute;
}

.oncetoomany::after {
  content: "";
  clear: both;
  display: table;
  }

.tiger {
width: 20%; /* img aspect ratio: width of original tiger: width of original background*/
bottom: 2%;
right: 2%;
animation: enlarge 40ms 2.75s forwards;
}

.bush {
width: 41%; /* img aspect ratio: width of original bush: width of original background*/
bottom: 0;
right: 0;
animation: disappear 0.1s 2.8s forwards;
}

.coming {
width: 24%; /* img aspect ratio: width of original coming: width of original background*/
bottom: 0;
left: 0;
animation: coming 3s, waiting 10s 3s, disappear 0.1s 5.5s forwards; /* Control the lengh of the animation by waiting duration (waiting 'x' 3s)*/
}

.going {
width: 24%; /* img aspect ratio: width of original going: width of original background*/
bottom: 0;
right: 40%;
opacity: 0;
animation: appear 0.1s 5.5s forwards, going 1s 5.8s forwards, hurry 0.1s 6.5s forwards;
}

.bestgone {
width: 22%; /* img aspect ratio: width of original bestgone: width of original background*/
top: 8%;
right: 25%;
opacity: 0;
animation: appear 0.1s 4s forwards, disappear 0.1s 5.5s forwards;
}

.hehe {
width: 22%; /* img aspect ratio: width of original hehe: width of original background*/
top: 18%;
right: 18%;
opacity: 0;
animation: appear 0.1s 7s forwards;
}

.paused {
animation-play-state: paused;
}
/* the .paused class needs to be last in line to the other anomation classes.
Otherwise, the classes will override the class with their animation properties*/

@keyframes coming {
 from {left: 0;}
    to {left: 40%;}
}

@keyframes waiting {
  from {left: 40%;}
     to {left: 40%;}
 }

 @keyframes disappear {
   from {opacity: 1;}
      to {opacity: 0;}
  }

  @keyframes appear {
    from {opacity: 0;}
       to {opacity: 1;}
   }

   @keyframes enlarge {
     from {width: 20%;}
        to {width: 25%;}
    }

    @keyframes going {
     from {left: 40%;}
        to {left: -100%;}
    }

    @keyframes hurry {
     from {transform: rotate(0deg);}
        to {transform: rotate(10deg);}
    }


/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {

  body {
      font-size: 18px;
  }

  nav {
    width: 90%;
    padding-top: 25px;
  }

  nav > ul {
  float: right;
}

  nav > ul > li {
    display: inline-block;
    width: auto;
    margin: 5px 1%;
    float:none;
  }

  main {
    padding:100px 0 0 0;
      max-width: 854px;
      margin: auto;
  }

[class*="col-"] {
  display: inline-block;
  margin: 0 0 0 3.5em;
}

.col-md-6 {
  width: 50%;
  float: right;
  padding: 10px 0 0 0;
  margin: 0 0 0 1.5em;
}

.overflow::after {
  content: "";
  clear: both;
  display: table;
}

.padding {
  padding-top: 20px;
}

.welcome {
    margin: 0.2em 0 3.5em 0;
}

nav > ul > li > a {
  font-size: 14px;
}

#money {
  max-width: 640px;
}

}
/* ==============================
Large devices (854px or larger), because of the 854px limitation of the original design
================================= */

@media only screen and (min-width: 854px) {

  [class*="col-"] {
    margin: auto;
  }

  .col-lg-6 {
    width: 50%;
    float: right;
    padding: 10px 0 0 0;
    margin: 0 0 0 1.5em;
  }

nav {
  width: 85%;
  padding-top: 50px;
}

nav > ul > li > a {
  font-size: 18px;
}

.logo {
  max-width: 100px;
  margin: 20px 0;
}

#youtube1::after, #youtube2::after {
  content: "";
  clear: both;
  display: table;
  }

#youtube1 {
  max-width: 407px;
}

#youtube2 {
  max-width: 407px;
}

#typo {
width: 50%;
float: right;
padding: 10px 0 0 0;
margin: 0 0 0 1.5em;
display: block;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  nav {
    width: 80%;
    padding-top: 60px;
  }

  nav > ul > li > a {
    font-size: 20px;
  }


  .logo {
    max-width: 120px;
    margin: 20px 0;
  }
}
